<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdevelopersumankr.java">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JAVA">
        <activity android:name=".expertlevel.e_screen"></activity>
        <activity android:name=".expertlevel.e_13_final" />
        <activity android:name=".expertlevel.e_12_final" />
        <activity android:name=".expertlevel.e_11_final" />
        <activity android:name=".expertlevel.e_10_final" />
        <activity android:name=".expertlevel.e_9_final" />
        <activity android:name=".expertlevel.e_8_final" />
        <activity android:name=".expertlevel.e_7_final" />
        <activity android:name=".expertlevel.e_6_final" />
        <activity android:name=".expertlevel.e_5_final" />
        <activity android:name=".expertlevel.e_4_final" />
        <activity android:name=".expertlevel.e_3_final" />
        <activity android:name=".expertlevel.e_2_final" />
        <activity android:name=".expertlevel.e_1_final" />
        <activity android:name=".expertlevel.e_13" />
        <activity android:name=".expertlevel.e_12" />
        <activity android:name=".expertlevel.e_11" />
        <activity android:name=".expertlevel.e_10" />
        <activity android:name=".expertlevel.e_9" />
        <activity android:name=".expertlevel.e_8" />
        <activity android:name=".expertlevel.e_7" />
        <activity android:name=".expertlevel.e_6" />
        <activity android:name=".expertlevel.e_5" />
        <activity android:name=".expertlevel.e_4" />
        <activity android:name=".expertlevel.e_3" />
        <activity android:name=".expertlevel.e_2" />
        <activity android:name=".expertlevel.e_1" />
        <activity android:name=".hardlevel.h_screen" />
        <activity android:name=".hardlevel.h_13_final" />
        <activity android:name=".hardlevel.h_12_final" />
        <activity android:name=".hardlevel.h_11_final" />
        <activity android:name=".hardlevel.h_10_final" />
        <activity android:name=".hardlevel.h_9_final" />
        <activity android:name=".hardlevel.h_8_final" />
        <activity android:name=".hardlevel.h_7_final" />
        <activity android:name=".hardlevel.h_6_final" />
        <activity android:name=".hardlevel.h_5_final" />
        <activity android:name=".hardlevel.h_4_final" />
        <activity android:name=".hardlevel.h_3_final" />
        <activity android:name=".hardlevel.h_2_final" />
        <activity android:name=".hardlevel.h_1_final" />
        <activity android:name=".hardlevel.h_13" />
        <activity android:name=".hardlevel.h_12" />
        <activity android:name=".hardlevel.h_11" />
        <activity android:name=".hardlevel.h_10" />
        <activity android:name=".hardlevel.h_9" />
        <activity android:name=".hardlevel.h_8" />
        <activity android:name=".hardlevel.h_7" />
        <activity android:name=".hardlevel.h_6" />
        <activity android:name=".hardlevel.h_5" />
        <activity android:name=".hardlevel.h_4" />
        <activity android:name=".hardlevel.h_3" />
        <activity android:name=".hardlevel.h_2" />
        <activity android:name=".hardlevel.h_1" />
        <activity android:name=".mediumlevel.m_13_final" />
        <activity android:name=".mediumlevel.m_12_final" />
        <activity android:name=".mediumlevel.m_11_final" />
        <activity android:name=".mediumlevel.m_10_final" />
        <activity android:name=".mediumlevel.m_9_final" />
        <activity android:name=".mediumlevel.m_8_final" />
        <activity android:name=".mediumlevel.m_7_final" />
        <activity android:name=".mediumlevel.m_6_final" />
        <activity android:name=".mediumlevel.m_5_final" />
        <activity android:name=".mediumlevel.m_4_final" />
        <activity android:name=".mediumlevel.m_3_final" />
        <activity android:name=".mediumlevel.m_2_final" />
        <activity android:name=".mediumlevel.m_1_final" />
        <activity android:name=".mediumlevel.m_screen" />
        <activity android:name=".mediumlevel.m_13" />
        <activity android:name=".mediumlevel.m_12" />
        <activity android:name=".mediumlevel.m_11" />
        <activity android:name=".mediumlevel.m_10" />
        <activity android:name=".mediumlevel.m_9" />
        <activity android:name=".mediumlevel.m_8" />
        <activity android:name=".mediumlevel.m_7" />
        <activity android:name=".mediumlevel.m_6" />
        <activity android:name=".mediumlevel.m_5" />
        <activity android:name=".mediumlevel.m_4" />
        <activity android:name=".mediumlevel.m_3" />
        <activity android:name=".mediumlevel.m_2" />
        <activity android:name=".mediumlevel.m_1" />
        <activity android:name=".content_all_option" />
        <activity android:name=".beginnerlevel.beg_13_final" />
        <activity android:name=".beginnerlevel.beg_12_final" />
        <activity android:name=".beginnerlevel.beg_11_final" />
        <activity android:name=".beginnerlevel.beg_10_final" />
        <activity android:name=".beginnerlevel.beg_9_final" />
        <activity android:name=".beginnerlevel.beg_8_final" />
        <activity android:name=".beginnerlevel.beg_7_final" />
        <activity android:name=".beginnerlevel.beg_6_final" />
        <activity android:name=".beginnerlevel.beg_5_final" />
        <activity android:name=".beginnerlevel.beg_4_final" />
        <activity android:name=".beginnerlevel.beg_3_final" />
        <activity android:name=".beginnerlevel.beg_2_final" />
        <activity android:name=".beginnerlevel.beg_1_final" />
        <activity android:name=".beginnerlevel.show_topic" />
        <activity android:name=".beginnerlevel.beg_13" />
        <activity android:name=".beginnerlevel.beg_12" />
        <activity android:name=".beginnerlevel.beg_11" />
        <activity android:name=".beginnerlevel.beg_10" />
        <activity android:name=".beginnerlevel.beg_9" />
        <activity android:name=".beginnerlevel.beg_8" />
        <activity android:name=".beginnerlevel.beg_7" />
        <activity android:name=".beginnerlevel.beg_6" />
        <activity android:name=".beginnerlevel.beg_5" />
        <activity android:name=".beginnerlevel.beg_4" />
        <activity android:name=".beginnerlevel.beg_3" />
        <activity android:name=".beginnerlevel.beg_2" />
        <activity android:name=".beginnerlevel.beg_1" />
        <activity android:name=".Aboutus" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>